@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-1: rgba(74, 85, 101, 1);
  --grey-1: rgba(10, 10, 10, 1);
  --grey-2: rgba(113, 113, 130, 1);
  --grey-3: rgba(106, 114, 130, 1);
  --grey-4: rgba(244, 244, 244, 1);
  --grey-5: rgba(153, 161, 175, 1);
  --blue-2: rgba(21, 93, 252, 1);
  --blue-3: rgba(219, 234, 254, 1);
  --blue-4: rgba(54, 65, 83, 1);
  --blue-5: rgba(190, 219, 255, 1);
  --grey-6: rgba(249, 250, 251, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit-sans);
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-grey-1: var(--grey-1);
  --color-grey-2: var(--grey-2);
  --color-grey-3: var(--grey-3);
  --color-grey-4: var(--grey-4);
  --color-grey-5: var(--grey-5);
  --color-grey-6: var(--grey-6);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --text-bt: 14px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit-sans), Arial, Helvetica, sans-serif;
}
